body, html {
  height: 100%;
  margin: 0;
  font-family: georgia, Helvetica, monospace;
  background-color:#000000;
}
* {
  box-sizing: border-box;
}
table, th, td {
  border: 1px solid black;
    width: 25%;
  font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
}
table.bent {
  margin-left: auto; 
  margin-right: auto;
  text-align: left; 
}

.bg-image {
  
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-text {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  font-size: 80px;
  border: 10px solid #f1f1f1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 500px;
  padding: 20px;
  text-align: center;
}

.img1 { background-image: url("https://4kwallpapers.com/images/wallpapers/windows-logo-m1-chip-black-background-gradient-windows-10-5k-3840x2160-5918.jpg");}
.img2 { background-image: url("https://www.hdwallpapers.in/download/colorful_apple_inc__logo_technology_in_black_background_4k_5k_hd_apple-HD.jpg"); }
.img3 { background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8bb89799-0bc5-425d-9543-ec16038a5462/dcxct6y-c495ff90-3295-423e-b6ff-92a815feb79b.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzhiYjg5Nzk5LTBiYzUtNDI1ZC05NTQzLWVjMTYwMzhhNTQ2MlwvZGN4Y3Q2eS1jNDk1ZmY5MC0zMjk1LTQyM2UtYjZmZi05MmE4MTVmZWI3OWIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.4cWxq7_gfV8rdOqiy9VL6oojrW4wfH7x-4IkRr9GlSE"); }
.img4 { background-image: url("https://images5.alphacoders.com/389/389226.jpg"); }
.img5 { background-image: url("https://wallpapers.com/images/hd/black-android-logo-gpsfc2n6lg19kn9p.jpg"); }
.img6 { background-image: url("https://cdna.artstation.com/p/assets/video_clips/images/048/390/354/large/oleg-thumb.jpg?1649909250"); }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: grey;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: grey;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
a:link{
  background-color: grey;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
 a:visited {
  background-color: grey;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover{
  background-color: white;
}

a:active {
  background-color: pink;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenavcolor:hover
 {
 background: white;
 }
